.mainContainerCreatePlan {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}
.mainContainerCreatePlan-upload {
  width: 49%;
  margin: 10px;
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  text-align: initial;
}
.secondContainerCreatePlan {
  width: 49%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  margin: 0px;
  justify-content: space-around;
}
.secondContainerCreatePlan-saved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
}
.secondContainerCreatePlan-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
}
.secondContainerCreatePlan-hl {
  height: 2px;
  width: 100%;
  color: #000;
  background-color: #000;
  margin: 0px;
}
.middleContainerCreatePlan {
  justify-content: center;
  align-items: center;
}
.verticalLineCreatePlan {
  height: 360px;
  width: 2px;
  background-color: #000;
  margin: 0px;
}
.mainContainerLoading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  heigth: 100%;
  text-align: center;
}
